<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <div>Team Name: <%=@team["name"]%></div>
    <div>Coach: <%=@team["coach"]%></div>
    <div>Point Guard: <%=@team["pg"]%></div>
    <div>Shooting Guard: <%=@team["sg"]%></div>
    <div>Power Forward: <%=@team["pf"]%></div>
    <div>Small Forward: <%=@team["sf"]%></div>
    <div>Center: <%=@team["c"]%></div>
 </body>
</html>


